.DS_Store
java/.idea
java/java.iml
java/out

scala/.idea
scala/out
scala/scala.iml

csharp/csharp.sln
csharp/csharp.userprefs
csharp/csharp/bin
csharp/csharp/obj
csharp/csharp/Properties
csharp/csharp/csharp.csproj
